<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Student Academic Reminder System
        {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">

        <div class="container">

            <!-- <a class="navbar-brand fw-bold" href="/">

                📚 Student Academic Reminder System

            </a> -->
            <a class="navbar-brand fw-bold" href="/">

                📚 S A R S

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{request.url_for('home')}}">Home</a>
                    </li>

                    <!--    <li class="nav-item">
                        <a class="nav-link" href="/reminders">Reminders</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.url_for('login')}}">Login</a>
                    </li>

                    <li class=" nav-item">
                        <a class="nav-link" href="{{request.url_for('register')}}">Create Account</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>



    <!-- Main Content -->

    <main class=" container py-5">

        {% block content %}

        {% endblock %}

    </main>



    <!-- Footer -->

    <footer class="bg-light border-top mt-5">

        <div class="container py-3 text-center text-muted">

            Student Academic Reminder System © 2026

        </div>

    </footer>


    <!-- Bootstrap JS -->

    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}">
    </script>

</body>

</html>